.about {
  width: 100%;


  .wrapper-about-description {
    @include flex;
    @include flex-align(center, center);
    flex-direction: column;
    flex-wrap: nowrap;
    width: 80%;
    margin: 0 auto;

    .about-description-height {
      flex-basis: 70%;

      .about-description {
        font-size: 24px;
        font-weight: 300;
        text-align: justify;
        word-wrap: break-word;
      }
    }


    .show-more {
      display: none;
    }
  }

  @media all and (max-width: $large) {

    .wrapper-about-description {
      align-items: center;

      .about-description-height {
        flex-basis: 200px;
        overflow: hidden;
        margin-bottom: 20px;

        .about-description {
          font-size: 20px;
          position: static;
          top: 0;
          left: 0;
          width: 100%;
          height: auto;
        }
      }

      .description-height-auto {
        height: auto;
      }

      .show-more {
        display: block;
      }
    }
  }

  @media all and (max-width: $small) {
    .wrapper-about-description {
      width: 100%;

      .about-description-height {

        .about-description {
          word-wrap: break-word;
        }
      }  
    }
  }
}
