.projects {

    h3 {
      color: $color-cosmic-green;
    }

    h3.github-links {
      padding-top: 96px;
    }

    background-color: #000;

    ul {
      
      li {
        list-style: none;
        @include flex;
        @include flex-align (flex-start, center);
        margin: 30px auto;
        flex-basis: 80%;
    
        a {
          display: block;
          text-align: left;
          color: $color-cosmic-green;
          flex-basis: 100%;
          font-size: 24px;
          padding: 10px 30px;
          border-radius: 20px;
          background-color: #000;
          border: 2px solid;
          transition: .2s;
          

          &:hover {
            background-color: $color-cosmic-green;
            color: #000;
            border: 2px solid $color-cosmic-green;
            transform: translateY(-2px);
            box-shadow: 0 0 50px $color-cosmic-green;
          }
        }
      }
    }

    /* #projects animations */

    @media all and (max-width: $medium) {
      ul li a {
        width: 80%;
      }
    }

    @media all and (max-width: $small) {

      ul {

        li {
          a {
            width: 100%;
            height: auto;
            padding: 10px 15px;

            &:hover {
              transform: none;
            }
          }
        }
      }
    }
}