@import url('https://fonts.googleapis.com/css2?family=Inconsolata&family=Signika:wght@700&display=swap');

$color-blue: #0097e6;
$color-green: #33d9b2;
$color-red: #ff5252;
$color-light: #ffffff;
$color-dark: #2c2c54;

$font-main: 'Inconsolata',
monospace;
$font-second: 'Signika',
sans-serif;
$transition: .3s all;