.main-header {
  padding-top: 150px;
  font-family: $font-main;
  overflow-x: hidden;
}

.header-profession {
  font-size: $font-size-main;
  text-transform: uppercase;
}

.header-title {
  font-size: $font-size-header-title;
}

.header-description {
  font-size: $font-size-header-description;
}

.wrapper-header-buttons {
  display: flex;
}

.video {
  width: 200px;
  padding: 10px;
  display: block;
  text-decoration: none;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  color: $color-dark-gray;
  transition: $transition;

  &:hover {
    text-decoration: none;
    color: $color-blue;
  }

  &:hover .video-play-circle {
    border: 1px solid $color-blue;
  }
}

.video-play-circle {
  width: 35px;
  height: 35px;
  border: 1px solid black;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
}

.header-spalsh-logo-box {
  height: 600px;
}

.header-spalsh-logo-box .container {
  margin: 0 auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.header-splash-logo {
  width: 100px;
}

.header-logo-description {
  margin-top: 10px;
  text-transform: uppercase;
  font-size: $font-size-header-description;
  font-weight: 600;
}

.header-subtitle {
  width: 80%;
  font-family: $font-main;
  font-size: $font-size-box-titel;
  text-align: center;
}

.header-subtitle-description {
  margin-top: 30px;
  width: 70%;
  text-align: center;
  color: $color-dark-gray;
  font-weight: 300;
  text-align: center;
}

.button-read-more {
  background-color: $color-blue;
  border-radius: 25px;
  text-transform: uppercase;
}

.overlay {
  display: none;
}