@media (min-width: 1395px) {
  .side-flowers {
    background-image: url(../../img/header-flowers.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    height: 300px;
    width: 160px;
    position: absolute;
    top: 100px;
    left: 0;
  }
}