footer {
  border-top: 2px solid $color-cosmic-green;
  background-color: #000;

  .footer-flex {
    @include flex;
    @include flex-align(space-between, center);
    color: $color-cosmic-green;
    font-size: 18px;

    .footer-icons-wrapper {
      @include flex;
      @include flex-align(flex-start, center);

      a {
        color: $color-cosmic-green;
        font-size: 18px;
        padding: 15px 0;
        margin-right: 25px;
        text-align: center;

        i {
          padding-right: 9px;
        }
      }

    }

    .all-rights {
      @include flex;
      @include flex-align(flex-end, center);
      padding: 15px;
      margin: 0 auto;
      text-align: center;
    }
  }

  @media all and (max-width: $large) {
    .footer-flex {
      @include flex;
      flex-direction: column;
    }
  }

  @media all and (max-width: $medium) {
    .footer-flex {
      // font-size: 16px;

      .footer-icons-wrapper {
        flex-direction: column;
      }
    }
  }

  @media all and (max-width: $small) {

    .footer-flex {

      .footer-icons-wrapper {

        a {
          display: block;
          width: 100%;
          margin: 0 auto;
          text-align: center;
          border: 1px solid $color-cosmic-green;
          border-radius: 20px;
          padding: 10px 20px;
          margin: 10px auto;

          &:nth-of-type(1) {
            margin-top: 25px;
          }

          i {
            font-size: 28px;
            display: block;
            padding-bottom: 10px;
          }
        }
      }

      .all-rights {
        justify-content: center;
        flex-wrap: wrap;
        flex-basis: 100%;

      }
    }
  }

  
}