.technologies {
  // width: 100%;
  height: auto;
  background-image: url(https://i.postimg.cc/G2N1zPTr/bcg-projects.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.technologies {
  @include flex;
  @include flex-align(space-between, center);
  flex-wrap: wrap;
  flex-direction: column;
}

.technologies .container {
  // position: relative;
  @include flex;
  @include flex-align(space-around, center);
  flex-direction: column;
}

.wrapper-all-icons {
  width: 500px;
  height: 500px;
  border: 5px solid #17DAA3;
  box-shadow: 0 0 50px #17DAA3;
  border-radius: 50%;
  @include flex;
  @include flex-align(center, center);
  position: relative;
  border-radius: 50%;
  padding: 0;
  list-style: none;
  // margin: 180px auto 0;
}

.technologies-title {
  @include flex;
  @include flex-align(center, center);
  color: #000;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
  box-shadow: 0 0 80px #17DAA3;
  background-color: rgba(23, 218, 163, .8);
  font-size: 35px;
  padding: 20px;
  text-align: center;
  border-radius: 50px;
  margin: 0 auto 100px;
}

.wrapper-icon {
  @include flex;
  @include flex-align(center, center);
  width: 100px;
  height: 100px;
  border: 5px solid #17DAA3; // to make variable
  box-shadow: 0 0 10px #17DAA3;
  border-radius: 50%;
  background-color: #000; // to make variable
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -3em;

}

// .wrapper-icon:hover {
//   transform: translateY(-8%);
//   box-shadow: 0 0 10px #17DAA3;
//   border-bottom: 3px solid #17DAA3;
//   transform: rotateY(360deg);
// }

.wrapper-icon-html {
  -webkit-transform: rotate(0deg) translate(15em);
  transform: rotate(0deg) translate(15em);
}

.wrapper-icon-css {
  -webkit-transform: rotate(60deg) translate(15em) rotate(-60deg);
  transform: rotate(60deg) translate(15em) rotate(-60deg);
}

.wrapper-icon-js {
  -webkit-transform: rotate(120deg) translate(15em);
  transform: rotate(120deg) translate(15em);
}

.wrapper-icon-react {
  -webkit-transform: rotate(-180deg) translate(15em) rotate(180deg);
  transform: rotate(-180deg) translate(15em) rotate(180deg);
}

.wrapper-icon-git {
  -webkit-transform: rotate(240deg) translate(15em) rotate(-240deg);
  transform: rotate(240deg) translate(15em) rotate(-240deg);
}

.wrapper-icon-wp {
  -webkit-transform: rotate(300deg) translate(15em) rotate(-300deg);
  transform: rotate(300deg) translate(15em) rotate(-30deg);
}

.project-icon {
  font-size: 40px;
  color: $color-cosmic-green; // to make variable
}

@keyframes move-around {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.animation {
  animation-name: move-around;
  animation-duration: 90s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@media all and (max-width: $medium) {
  .technologies-title {
    width: 100%;
  }

  .wrapper-all-icons {
    width: 300px;
    height: 300px;

    .wrapper-icon {
      @include flex;
      @include flex-align(center, center);
      width: 80px;
      height: 80px;
      border: 5px solid #17DAA3; // to make variable
      box-shadow: 0 0 10px #17DAA3;
      border-radius: 50%;
      background-color: #000; // to make variable
      position: absolute;
      top: 50%;
      left: 50%;
      margin: -3em;
    }


      .wrapper-icon-html {
        -webkit-transform: rotate(0deg) translate(10em);
        transform: rotate(0deg) translate(9em);
      }

      .wrapper-icon-css {
        -webkit-transform: rotate(60deg) translate(9em) rotate(-60deg);
        transform: rotate(60deg) translate(9em) rotate(-60deg);
      }

      .wrapper-icon-js {
        -webkit-transform: rotate(120deg) translate(9em);
        transform: rotate(120deg) translate(9em);
      }

      .wrapper-icon-react {
        -webkit-transform: rotate(-180deg) translate(9em) rotate(180deg);
        transform: rotate(-180deg) translate(9em) rotate(180deg);
      }

      .wrapper-icon-git {
        -webkit-transform: rotate(240deg) translate(9em) rotate(-240deg);
        transform: rotate(240deg) translate(9em) rotate(-240deg);
      }

      .wrapper-icon-wp {
        -webkit-transform: rotate(300deg) translate(9em) rotate(-300deg);
        transform: rotate(300deg) translate(9em) rotate(-30deg);
      }

      .project-icon {
        font-size: 40px;
        color: $color-cosmic-green; // to make variable
      }
  }

  @media all and (max-width: $small) {

    .technologies-title {
      width: auto;

    }

    .wrapper-all-icons {
      width: 200px;
      height: 200px;
      border: 5px solid #17DAA3;
      box-shadow: 0 0 50px #17DAA3;
      border-radius: 50%;
      @include flex;
      @include flex-align(center, center);
      position: relative;
      border-radius: 50%;
      padding: 0;
      list-style: none;
    }
  }

  @media all and (max-width: $small) {
    .technologies-title {
      width: auto;
      font-size: 20px;
    }

    .wrapper-all-icons {
      width: 200px;
      height: 200px;
      border: 5px solid #17DAA3;
      box-shadow: 0 0 50px #17DAA3;
      border-radius: 50%;
      @include flex;
      @include flex-align(center, center);
      position: relative;
      border-radius: 50%;
      padding: 0;
      list-style: none;

      .wrapper-icon {
        @include flex;
        @include flex-align(center, center);
        width: 70px;
        height: 70px;
        border: 5px solid #17DAA3; // to make variable
        box-shadow: 0 0 10px #17DAA3;
        border-radius: 50%;
        background-color: #000; // to make variable
        position: absolute;
        top: 50%;
        left: 50%;
        margin: -3em;


      }

      .wrapper-icon-html {
        -webkit-transform: rotate(0deg) translate(7em);
        transform: rotate(0deg) translate(7em);
      }

      .wrapper-icon-css {
        -webkit-transform: rotate(60deg) translate(7em) rotate(-60deg);
        transform: rotate(60deg) translate(7em) rotate(-60deg);
      }

      .wrapper-icon-js {
        -webkit-transform: rotate(120deg) translate(6em);
        transform: rotate(120deg) translate(6em);
      }

      .wrapper-icon-react {
        -webkit-transform: rotate(-180deg) translate(6em) rotate(180deg);
        transform: rotate(-180deg) translate(6em) rotate(180deg);
      }

      .wrapper-icon-git {
        -webkit-transform: rotate(240deg) translate(6em) rotate(-240deg);
        transform: rotate(240deg) translate(6em) rotate(-240deg);
      }

      .wrapper-icon-wp {
        -webkit-transform: rotate(300deg) translate(6em) rotate(-300deg);
        transform: rotate(300deg) translate(6em) rotate(-30deg);
      }

      .project-icon {
        font-size: 30px;
        color: $color-cosmic-green; // to make variable
      }

    }
  }
}